.App {
  text-align: center;
  background-color: rgb(219, 203, 83);
}
.HM {
color: rgb(184, 81, 12);
 text-align: center;
}
.HM h1{

  color: rgb(35, 14, 128);
  font-size: 45px;
}
.HM h2{
  color: rgb(6, 105, 22);
  font-size: 30px;
}
.HM h3{
  color: mediumspringgreen;
  font-size:xx-large;
}
.HM P{
  color: rgb(22, 127, 153);
}
.vv {
text-align: center;

}
.HR {
  color: rgb(145, 30, 9);
  
}
button {
font-size: 50px;
color: indianred;
width: 150px;
height: 150px;
border-color: lawngreen;
border-style: solid;
background: rgb(250, 202, 189);
}
.aaa {
  font-size: 25px;
}
.vv{
  background-color: rgb(245, 239, 197);

}
